:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

main {
  flex: 1;
  display: block;
  padding: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: rgb(200, 225, 255);
  border: 2px solid rgb(0, 150, 255);
}

.content.focused {
  filter: brightness(110%);
}

.quote-input-pair {
  color: rgb(50, 50, 50);
  padding: 0.5rem;

  ::ng-deep .custom-cursor {
    height: 1.5rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 2px;
      display: block;
      width: 2px;
      height: 1.5rem;
      background-color: rgba(0, 0, 0, 0.25);
      z-index: 5;
      animation: blink 1.25s infinite;
    }

    @keyframes blink {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 1;
      }

      51% {
        opacity: 0;
      }

      100% {
        opacity: 0;
      }
    }
  }
}

.quote-display {
  background-color: rgb(200, 225, 255);
  padding: 0.5rem;
  margin: 0;
  line-height: 1.5rem;
  font-size: 1.5rem;
  font-style: italic;
}

.input-display {
  background-color: rgb(200, 225, 255);
  border: 2px solid rgb(100, 100, 100);
  border-width: 2px 0 2px 0;
  padding: 0.5rem;
  margin: 0;
  line-height: 1.5rem;
  min-height: 1.5rem;
  font-size: 1.5rem;

  ::ng-deep .correct {
    color: rgb(0, 150, 0) !important;
  }

  ::ng-deep .wrong {
    color: rgb(225, 0, 0) !important;
  }
}

#userInput {
  position: absolute;
  left: -9999px;
  opacity: 0;

  &:focus + .input-display {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 2px;
      display: block;
      width: 2px;
      height: 1.5rem;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 5;
      animation: blink 1.25s infinite;
    }
  }
}
