.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

main {
  min-height: 100vh;
  display: flex;
  gap: 2rem;
  height: 100%;
}

.game-stats {
  display: flex;
  flex-direction: column;
  height: fit-content;
  font-size: 1.25rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 1rem;
  line-height: 1.5rem;
  background-color: rgb(100, 50, 150);

  div:nth-child(even) {
    color: rgb(255, 225, 0);

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.content {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  color: rgb(255, 255, 255);
  background-color: rgb(50, 50, 50);
  border: 2px solid rgba(255, 255, 255, 0.75);
  border-radius: 1rem;
  height: fit-content;
  transition: 0.15s ease-in-out;
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.5);
}

.content.disabled {
  border-color: rgba(255, 255, 255, 0.75);
  box-shadow: none;
}

.content.focused {
  background-color: rgb(0, 0, 0);
  border-color: rgb(0, 200, 200);
  box-shadow: 0 0 4px 2px rgb(0, 200, 200);

  ::ng-deep .custom-cursor {
    display: inline-block;
    height: 1.25rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 2px;
      display: block;
      width: 2px;
      height: 1.5rem;
      background-color: rgba(255, 255, 255, 0.75);
      z-index: 5;
      animation: blink 1.25s infinite;
    }

    @keyframes blink {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 1;
      }

      51% {
        opacity: 0;
      }

      100% {
        opacity: 0;
      }
    }
  }
}

#userInput {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.quote-input-pair {
  word-spacing: 0.5rem;
}

.quote-display {
  padding: 0.5rem;
  margin: 0;
  line-height: 1.5rem;
  font-size: 1.5rem;
  font-style: italic;
  user-select: none;

  ::ng-deep .current-word {
    display: inline-block;
    transform: translateY(2px);
    color: rgb(255, 225, 0);
  }

  ::ng-deep .line-hidden {
    visibility: hidden;
  }
}

.input-display {
  border: 2px solid rgb(200, 200, 200);
  border-width: 2px 0 2px 0;
  padding: 0.5rem;
  margin: 0;
  line-height: 1.5rem;
  min-height: 1.5rem;
  font-size: 1.5rem;
  word-break: break-all;

  ::ng-deep .correct {
    color: rgb(0, 225, 0) !important;
  }

  ::ng-deep .wrong {
    color: rgb(225, 0, 0) !important;
  }
}
