<main (click)="inputUnfocus($event)" #mainElement>
  <div class="controls">
    <button type="button" (click)="startCountdown()" [disabled]="gameStarted">
      START
    </button>
    <div class="counter">
      {{ gameStarted ? "Time: " + gameTime : "Countdown: " + countdown }}
    </div>
    <button type="button" (click)="resetGame()">RESET</button>
    <ng-container *ngIf="!gameStarted && score">
      <div class="user-game-time">Your time:{{ userGameTime }}</div>
      <div class="user-score">Your score:{{ score.userScore }}</div>
      <div class="max-score">Max score:{{ score.maxScore }}</div>
    </ng-container>
  </div>
  <div class="content" (click)="inputFocus($event)" #contentElement>
    <input
      [(ngModel)]="userInput"
      class="user-input"
      name="userInput"
      id="userInput"
      (ngModelChange)="inputChange($event)"
      #inputElement
    />
    <div
      class="quote-input-pair"
      *ngFor="let obj of quote | textInputDisplay: userInput"
    >
      <div class="quote-display">
        {{ obj.quote }}
      </div>
      <div class="input-display" [innerHTML]="obj.input"></div>
    </div>
  </div>
</main>
